@use 'sass:color';
@use '../styles/vars.scss' as *;

.container {
  min-height: 100vh;
  scroll-behavior: smooth;
  background: $beige-bg;
  scroll-snap-type: y proximity;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-primary;
}
