@use '../styles/vars.scss' as *;
@use '../styles/mixins.scss' as *;

// Classe pour bloquer le scroll
:global(.stop-scrolling) {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.revealSection {
  height: 600vh;
  width: 100%;
  background: linear-gradient(to top, #f5f5dc, #eedcc9);
  position: relative;
  padding: 2rem;
  @include mobile-only {
    padding: 1.5rem;
  }
}

.container {
    position: sticky;
    top: 10vh;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    @include mobile-only {
      height: 100vh;
       align-items: flex-start;
    }
}

.phrasesContainer {
  width: 100%;
}

.phrase {
  @include title-style(3.5rem, 2px, 1px, 0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  margin-left: .4rem;
  line-height: 1.4;
  opacity: .3;
  &:first-child {
    margin-left: 0;
  }
  
  @include mobile-only {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }
  
  &.visible {
    opacity: 1;
  }
} 